In [2]:
import pandas as pd
import numpy as np

In [3]:
test_giqa = pd.read_csv('test_giqa.csv')
holdout = pd.read_csv('holdout.csv')

In [6]:
test_real = holdout[holdout['label']==0]

In [11]:
x_real = test_real
x_fake_first_5k = test_giqa.loc[:4999, :]

In [13]:
test_first_5k = pd.concat((test_real, x_fake_first_5k), axis=0, ignore_index=True)
test_first_5k["label"] = test_first_5k["label"].astype(int)
test_first_5k = test_first_5k.sample(frac=1)

test_first_5k.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 7087 to 1577
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10000 non-null  int64
 1   image_path  10000 non-null  object
 2   label       10000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 312.5+ KB

In [16]:
test_first_5k.to_csv('test_first_5k.csv')

In [18]:
x_fake_last_5k = test_giqa.loc[5000:,:]

In [19]:
test_last_5k = pd.concat((test_real, x_fake_last_5k), axis=0, ignore_index=True)
test_last_5k["label"] = test_last_5k["label"].astype(int)
test_last_5k = test_last_5k.sample(frac=1)

test_last_5k.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 8315 to 3684
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10000 non-null  int64
 1   image_path  10000 non-null  object
 2   label       10000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 312.5+ KB

In [20]:
test_last_5k.to_csv('test_last_5k.csv')

# selecting 2k

In [22]:
x_fake_first_2k = test_giqa.loc[:1999, :]
x_real_2k = test_real.sample(n=2000)

In [23]:
test_first_2k = pd.concat((x_real_2k, x_fake_first_2k), axis=0, ignore_index=True)
test_first_2k["label"] = test_first_2k["label"].astype(int)
test_first_2k = test_first_2k.sample(frac=1)

test_first_2k.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4000 entries, 1206 to 2014
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4000 non-null   int64
 1   image_path  4000 non-null   object
 2   label       4000 non-null   int64
dtypes: int64(2), object(1)
memory usage: 125.0+ KB

In [25]:
test_first_2k.to_csv('test_first_2k.csv')

In [33]:
x_fake_last_2k = test_giqa.iloc[-2000:]

In [36]:
test_first_2k

      Unnamed: 0                                         image_path  label
1206         436                                 ffhq1024/17347.png      0
1834        2036                                 ffhq1024/39644.png      0
3170        1170  /fssd1/user-data/dogoulis/test_stylegan2/51945...      1
1469        2949                                 ffhq1024/68832.png      0
2475         475  /fssd1/user-data/dogoulis/test_stylegan2/96363...      1
...          ...                                                ...    ...
1045        1142                                 ffhq1024/41972.png      0
3056        1056  /fssd1/user-data/dogoulis/test_stylegan2/11011...      1
591         3581                                 ffhq1024/43905.png      0
2053          53  /fssd1/user-data/dogoulis/test_stylegan2/90931...      1
2014          14  /fssd1/user-data/dogoulis/test_stylegan2/76195...      1

[4000 rows x 3 columns]

In [37]:
test_last_2k = pd.concat((x_real_2k, x_fake_last_2k), axis=0, ignore_index=True)
test_last_2k["label"] = test_last_2k["label"].astype(int)
test_last_2k = test_last_2k.sample(frac=1)

test_last_2k.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4000 entries, 2943 to 799
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4000 non-null   int64
 1   image_path  4000 non-null   object
 2   label       4000 non-null   int64
dtypes: int64(2), object(1)
memory usage: 125.0+ KB

In [38]:
test_last_2k.to_csv('test_last_2k.csv')